<%= inspect @tally %>
<p>
  Turn Left: <%= @tally.turns_left %>
</p>
<p>
  Word so far: <%= @tally.letters |> Enum.join(" ") %>
</p>
<%= form_for @conn, hangman_path(@conn, :make_move), [as: :make_move, method: :put, class: "form-inline"], fn f -> %>
  <%= text_input(f, :guess, [class: "form-control"]) %>
  <%= submit("Make next move", [class: "btn btn-default"]) %>
<% end %>