<%= game_state @tally.game_state %>
<p>
  Turn Left: <%= @tally.turns_left %>
</p>
<p>
  Word so far: <%= @tally.letters |> Enum.join(" ") %>
</p>
<%= if game_over?(@tally) do %>
  <%= new_game_button(@conn) %>
<% else %>
  <%= form_for @conn, hangman_path(@conn, :make_move), [as: :make_move, method: :put, class: "form-inline"], fn f -> %>
    <%= text_input(f, :guess, [class: "form-control"]) %>
    <%= submit("Make next move", [class: "btn btn-default"]) %>
  <% end %>
<% end %>